<!DOCTYPE html>
<html>
<head>
  <title>My webpage</title>
</head>
<body>
  <h1>Hello Woooorld~!</h1>
  <form action="/cars" method="post">
    <input type="text" name="car[color]">
    <input type="submit">
  </form>
</body>
</html>
